.media-footer {
  .time-slider {
    width: 100% !important;
    margin-left:20px;
    margin-right:20px;
  }
  .media-action-bar {
    width: 100%;
    padding:2.5rem;
    justify-content: center;
    .mat-icon {
      height:48px !important;
      width:48px !important;
      font-size:48px;
    }
    .small-mat-icon {
      padding-top: 20px;
      font-size:20px;
    }
  }
}

